.not-found-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notfound-button {
    width: 183px;
    height: 51px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background-color: #550065;
    border: 1px solid #550065;
    border-radius: 7px 7px 7px 7px;
    margin-top: 42px;
    cursor: pointer;
}